<div class="row">
  <!-- ジャンル検索サイドバー -->
  <%= render 'items/genre_sidebar', genres: @genres %>
  <!-- 商品一覧 -->
  <div class="col-md-9 col-md-offset-1">
    <% if @genre.is_valid == true %>
    <h2><%= @genre.name %> 一覧 <span style="font-size: 20px;">(全<%= @items.count %>件)</span></h2>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <% if item.sale_status == true %>
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag item, :image, format: 'jpeg', size:"200x150" %>
              <p><%= item.name %></p>
            <% end %>
            <p>￥<%= item.price_nontax %>(税抜)</p>
          <% elsif item.sale_status == false %>
            <%= attachment_image_tag item, :image, format: 'jpeg', size:"200x150" %>
            <p><%= item.name %></p>
            <p style="background-color: red; color: white; width: 30%;">売り切れ</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
      <div class="text-center">
        <h2 style="margin-top: 30%">現在、取り扱いがありません</h2>
      </div>
    <%end %>
  </div>
</div>

