<h2>会員編集</h2>
<div class="row">
  <%= form_for(@user, url: admins_end_user_path(@user)) do |f| %>
        <div class="col-md-8 form-inline">
          <div>
            会員ID　<%= @user.id %>
          </div>
          <div>
            <%= f.label :first_name, "氏名" %>
            <%= f.text_field :first_name %>
          </div>
          <div>
            <%= f.label :last_name, "" %>
            <%= f.text_area :last_name %>
          </div>
          <div>
            <%= f.label :first_name_kana, "フリガナ" %>
            <%= f.text_field :first_name_kana %>
          </div>
          <div>
            <%= f.label :last_name_kana, "" %>
            <%= f.text_area :last_name_kana %>
          </div>
          <div>
            <%= f.label :postal_code, "郵便番号" %>
            <%= f.text_field :postal_code  %>
          </div>
          <div>
            <%= f.label :address, "住所" %>
            <%= f.text_field :address  %>
          </div>
          <div>
            <%= f.label :phone, "電話番号" %>
            <%= f.text_field :phone  %>
          </div>
          <div>
            <%= f.label :email, "メールアドレス" %>
            <%= f.text_field :email  %>
          </div>
          <div>
          <%= form_with(model: user, local: true) do |form| %>
          <%= form.radio_button :gender, :male %>
          <%= form.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
          <%= form.radio_button :gender, :female %>
          <%= form.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
        </div>
<% end %>
    </div>
    <div>
      <%= f.submit "変更を保存", class: "btn btn-primary " %>
    </div>
  <% end %>
</div>