<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4><mark>会員一覧</mark></h4>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-9 col-md-offset-1", style="font-size: 18px;">
      <table class="table table-bordered" style="background: rgba(0,0,0,0.2);">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to admins_end_user_path(user.id) do %>
              <%= user.first_name %><%= user.last_name %>
              <% end %>
            </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.is_deleted %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= paginate @users %>
    </div>
  </div>
</div>
