  <div class="row">
    <h1>会員詳細</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table text-nowrap">
        <tbody>
          <tr>
            <td>顧客ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @user.first_name %></td>
          </tr>
          <tr>
            <td>フリナガ</td>
            <td><%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @user.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @user.phone %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="text-right">
  <%= link_to "編集する", edit_admins_end_user_path(@user), class: "btn btn-default" %>
</div>
