<div class="row">
  <div class="col-md-12">
    <div class="col-md-10">
      <h4><mark>注文情報確認</mark></h4>
    </div>
  </div>
</div>
<!-- 注文商品内訳 -->
<div class="row">
<%= form_for(@order, url: {action: 'create'}) do |f| %>
  <div class="col-md-12">
    <div class="col-md-8">
      <table class="table order_confirm_table">
        <thead class="order_thead">
          <tr>
            <th colspan="2">商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% sum_all = 0 %>  <!-- sum_all = 合計金額 -->
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td colspan="2",width="120px"><%= attachment_image_tag cart_item.item, :image, :fill, 50, 50 %>  <%= cart_item.item.name %></td>
            <td><%= price_tax(cart_item.item.price_nontax) %></td>
            <td><%= cart_item.number %></td>
            <td>  <!-- sum_item = 小計 -->
              <%= sum_item = price_tax(cart_item.item.price_nontax).to_i * cart_item.number %>
              <% sum_all += sum_item %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="order_right_table">
        <tr>
          <td class="order_right"><strong>　送料</strong></td>
          <td><%= @order.postage %>表示させる！！！</td>
        </tr>
        <tr>
          <td class="order_right"><strong>　商品合計</strong></td>
          <td><%= sum_all %></td>
        </tr>
        <tr>
          <td class="order_right"><strong>　請求金額</strong></td>
          <td><%= @order.total_price %>トータルプライス表示</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- 支払方法、お届け先 -->
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h4 style="text-align: center; border-bottom: 1px solid #000;"><strong>支払方法</strong></h4>
  </div>
  <div class="col-md-8">
    <h4><%= @order.payment %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h4 style="text-align: center; border-bottom: 1px solid #000;"><strong>お届け先</strong></h4>
  </div>
  <div class="col-md-8">
    <h4><%= @order.postal_code %><%= @order.address %></h4><br>
    <h4><%= @order.name %></h4>
  </div>
</div>
  <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
  <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
  <%= f.hidden_field :address, :value => "#{@order.address}" %>
  <%= f.hidden_field :name, :value => "#{@order.name}" %>
  <%= f.hidden_field :payment, :value => "#{@order.payment}" %>
<!-- 購入ボタン -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p><%= f.submit "購入を確定する", class: "btn btn-success btn-block btn-lg" %></p>
  </div>
</div>
<% end %>
</div>
