<div class="row">
  <div class="col-md-10 col-md-offset-1">
		<h4><mark>商品新規登録</mark></h4>
		<div class="form-group row">
			<%= form_for(@item, url: admins_items_path) do |f| %>
				<div class="col-md-4">
						<%= f.attachment_field :image %>
				</div>
				<div class="col-md-8">
					<div class="row">
						<%= f.label :name, "商品名", class: "col-md-3" %>
						<span class="col-md-7"><%= f.text_field :name, class: "form-control" %></span>
					</div>
					<div class="row">
						<%= f.label :explanation, "商品説明", class: "col-md-3" %>
						<span class="col-md-8"><%= f.text_area :explanation, class: "form-control" %></span>
					</div>
					<div class="row">
						<%= f.label :genre, "ジャンル", class: "col-md-4" %>
						<span class="col-md-6"><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %></span>
					</div>
					<div class="row">
						<%= f.label :price_nontax, "税抜価格", class: "col-md-3" %>
						<span class="col-md-6"><%= f.text_field :price_nontax, class: "form-control" %></span><span>円</span>
					</div>
					<div class="row">
						<%= f.label :sale_status, "販売ステータス", class: "col-md-4" %>
						<span class="col-md-4"><%= f.select :sale_status, [['販売中', true], ['売り切れ', false]], prompt: "-- 選択してください --", class: "form-control" %></span>
					</div>
				</div>
				<div class="row">
					<%= f.submit "新規登録", class: "btn btn-primary col-md-offset-10" %>
				</div>
			<% end %>
		</div>
	</div>
</div>