<div class="row">
  <div class="col-md-12">
    <div class="col-md-10">
      <h4><mark>ショッピングカート</mark></h4>
    </div>
    <div class="col-md-11">
    <!-- カートを空にする -->
      <p class="text-right">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
      </p>
    </div>
  </div>
</div>
<!-- カート内訳 -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table cart_table">
      <thead class="cart_thead">
        <tr>
          <th colspan="2" class="text-center">商品名</th>
          <th class="text-center">単価（税込）</th>
          <th class="text-center">数量</th>
          <th class="text-center">小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="cart_tbody">
        <% sum_all = 0 %>  <!-- sum_all = 合計金額 -->
        <% @cart_items.each do |cart_item| %>
        <tr style="font-size: 15px;">
          <td colspan="2",width="120px"><%= attachment_image_tag cart_item.item, :image, :fill, 80, 80 %>  <%= cart_item.item.name %></td>
          <td class="text-right"><%= price_tax(cart_item.item.price_nontax).to_s(:delimited) %></td>
          <td class="text-right">
            <%= form_with model: cart_item, local: true do |f| %>
              <%= f.number_field :number, value: cart_item.number, min: 1, max: 10 %>
              <%= f.submit "変更", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td class="text-right">  <!-- sum_item = 小計 -->
            <%= sum_item = price_tax(cart_item.item.price_nontax).to_i * cart_item.number %>
            <% sum_all += sum_item %>
          </td>
          <td class="text-center">
            <%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
        <tr style="font-size: 15px;">
          <td colspan="4">
          <td class="cart_total text-center"><strong>合計金額</strong></td>
          <td class="text-right"><%= sum_all %></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
<!-- 情報入力ボタン -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p><%= link_to "買い物を続ける", items_path, class: "btn btn-primary btn-block btn-lg" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success btn-block btn-lg" %></p>
  </div>
</div>
