<div class="container">
	<h2>商品編集</h2>
	<div class="row">
		<%= form_for(@item, url: admins_item_path) do |f| %>
			<div class="col-md-4">
				<div class="row">
					<%= f.attachment_field :image, class: "col-md-12" %>
				</div>
			</div>
			<div class="col-md-8">
				<div>
					<%= f.label :name, "商品名" %>
					<%= f.text_field :name %>
				</div>
				<div>
					<%= f.label :explanation, "商品説明" %>
					<%= f.text_area :explanation %>
				</div>
				<div>
					<%= f.label :genre, "ジャンル" %>
					<%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
				</div>
				<div>
					<%= f.label :price_nontax, "税抜価格" %>
					<%= f.text_field :price_nontax  %><span>円</span>
				</div>
				<div>
					<%= f.label :sale_status, "販売ステータス" %>
					<%= f.select :sale_status, [['販売中', true], ['売り切れ', false]], prompt: "-- 選択してください --" %>
				</div>
			</div>
			<div class="row">
				<%= f.submit "変更を保存", class: "btn btn-primary col-md-offset-7" %>
			</div>
		<% end %>
	</div>
</div>