<div class="container">
	<div class="row">
		<<!-- ジャンル検索サイドバー -->
    <%= render 'items/genre_sidebar', genres: @genres %>

		<div class="col-md-5 col-md-offset-1">
			<%= attachment_image_tag @item, :image, :fill,100, 100, format: 'jpeg' %>
		</div>
		<div class="col-md-4">
			<h1><%= @item.name %></h1>
			<h2><%= @item.explanation %></h2>
			<h3>¥<%= @item.price_nontax*1.1 %>(税込み)</h3>


	  </div>
  </div>
</div>