<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4><mark>登録情報編集</mark></h4>
	</div>
</div>
<%= form_for(@user, url: end_users_path, method: :patch) do |f| %>
<!-- エラーメッセージ -->
<%= render 'layouts/error_messages', model: f.object %>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-3 control-label">名前</label>
			<label class="col-md-1 control-label">(姓)</label>
			<div class="col-md-3">
				<%= f.text_field :first_name,autofocus:true,autocomplete: "first_name", class: "form-control" %>
			</div>
			<label class="col-md-1 control-label">(名)</label>
			<div class="col-md-3">
				<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-3 control-label">フリガナ</label>
			<label class="col-md-1 control-label">(セイ)</label>
			<div class="col-md-3">
				<%= f.text_field :first_name_kana, autofocus:true, autocomplete: "first_name_kana", class: "form-control" %>
			</div>
			<label class="col-md-1 control-label">(メイ)</label>
			<div class="col-md-3">
				<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-4 control-label">メールアドレス</label>
			<div class="col-md-7">
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-4 control-label">郵便番号(ハイフンなし)</label>
			<div class="col-md-7">
				<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-4 control-label">住所</label>
			<div class="col-md-7">
				<%= f.text_field :address, autofocus: true,autocomplete: "address", class: "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<div class="form-group row">
			<label class="col-md-4 control-label">電話番号(ハイフンなし)</label>
			<div class="col-md-3">
				<%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", class: "form-control" %>
			</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			<%= f.submit "編集内容を保存する", class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<%= link_to "退会する", end_users_withdraw_path, class: "btn btn-danger btn-block" %>
			<% end %>
		</div>
	</div>