<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>パスワード再設定</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_for(@user, url: end_users_end_users_password_edit_path, html: { method: :put }) do |f| %>
  	<%= f.hidden_field :reset_password_token %>
	</div>
</div>
<div class="field">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
    	<%= f.label :password, "新しいパスワード" %><br/>
    	<% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
    	<% end %>
  	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>
</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-2">
  <div class="actions">
    <%= f.submit "パスワードを変更する", class: "btn btn-primary btn-block" %>
  </div>
</div>
</div>
  </div>
<% end %>
</div>