<div class="row">
	<h2><mark>注文履歴一覧</mark></h2>
	<table class="table table-default">
		<tr>
			<td>購入日時</td>
			<td>購入者</td>
			<td>注文個数</td>
			<td>注文ステータス</td>
		</tr>
		<% @orders.each do |order| %>
		<tr>
			<td><%= link_to admins_order_path(order) do %>
					<%= order.created_at. strftime('%Y/%m/%d/%H/%M/%s') %>
					<% end %>
				</td>
			<td><%= "#{order.end_user.first_name} #{order.end_user.last_name}" %></td>
				<!-- <td><%= order.total_number %></td> total_number=合計数量、モデルで定義する-->
			<td><%= order.order_status %></td>
		</tr>
		<% end %>
	</table>
<div class="text-center">
	<%= paginate @orders %>
</div>
</div>
<!-- 遷移による表示の変更 -->