<div class="row">
	<div class="col-md-2 col-md-offset-2">
	<!-- 上段ここから -->
	<h3><mark>注文履歴詳細</mark></h3>
</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1", style="font-size: 18px;">
	<table class="table table-bordered" style="background: rgba(0,0,0,0.2);">
		<tr>
			<th>購入者</th>
			<td><%= link_to "#{@order.end_user.first_name}#{@order.end_user.last_name}", admins_end_user_path(@order.end_user.id) %>
			</td>
		</tr>
		<tr>
			<th>配送先</th>
			<td>〒<%= @order.postal_code %><%= @order.address %><br>
				<%= @order.name %>
			</td>
		</tr>
		<tr>
			<th>支払い方法</th>
			<td><%= @order.payment %></td>
		</tr>
		<tr>
			<th>注文ステータス変更</th>
				<td><%= form_for(@order, url: {controller: "orders", action: "update"}) do |f| %>
					<%= f.select :order_status, [['入金待ち', '入金待ち'], ['入金確認', '入金確認'], ['製作中', '製作中'],['発送準備中', '発送準備中'], ['発送済み', '発送済み']] %>
					<%= f.submit '更新', class: "btn btn-sm" %>
					<% end %>
				</td>
			</tr>
	</table>
</div>
</div>
	<!-- 上段ここまで -->
<!-- 左下ここから -->
<div class="row">
	<div class="col-md-7 col-md-offset-1">
	<table class="table">
		<tr style="background: rgba(0,0,0,0.2);">
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
		<% @order.order_items.each do |order_item| %>
		<tr style="font-size: 18px;">
			<td><%= order_item.item.name %></td>
			<td><%= order_item.item.price_nontax %></td>
			<td><%= order_item.number %></td>
			<td><%= (order_item.price * order_item.number) %></td>
			<td><%= form_for order_item, url: admins_order_detail_path do |f| %>
				<%= f.hidden_field :id, :value => order_item.id %>
				<%= f.label :production_status, "製作ステータス" %>
				<%= f.select :production_status, [['着手不可', '着手不可'], ['製作待ち', '製作待ち'], ['製作中', '製作中'], ['製作完了', '製作完了']] %>
			<%= f.submit "更新", class: "btn btn-sm" %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
</div>

<!-- 左下ここまで -->
	<!-- 右下のやつ -->
	<div class="col-md-3" style="margin-left: 45px;">
		<table class="table-bordered" style="font-size: 25px;">
			<tr>
				<th>商品合計</th>
				<td><%= total_price(@order.order_items).to_s(:delimited) %>円</td>
			</tr>
			<tr>
				<th>送料</th>
				<td><%= @order.postage %>円</td>
			</tr>
			<tr>
				<th>請求金額合計</th>
				<td><%= @order.total_price.to_s(:delimited) %>円</td>
			</tr>
		</table>
	</div>
</div>