<div class="row">
	<!-- 上段ここから -->
	<h3><<mark>注文履歴詳細</mark></h3>
	<table>
		<tr>
			<th>購入者</th>
			<td><%= link_to "#{@order.end_user.firstname}#{@order.end_user.lastname}", admins_end_user_path(@order.end_user.id) %>
			</td>
			<th>配送先</th>
			<td>〒<%= @order.postal_code %><%= @order.address %><br>
				<%= @order.name %>
			</td>
			<th>支払い方法</th>
			<td><%= @order.payment %></td>
			<th>注文ステータス変更</th>
				<td><%= form_for(@order, url: admins_order_path) do |f| %>
					<%= f.select :order_status, [['入金待ち', 0], ['入金確認', 1], ['製作中', 2],['発送準備中', 3], ['発送済み', 4]] %>
					<%= f.submit '更新', class: "btn btn-sm" %>
					<% end %>
				</td>
		</tr>
	</table>
</div>
	<!-- 上段ここまで -->
<!-- 左下ここから -->
<div class="row">
	<table>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>制作ステータス</th>
		</tr>
		<% @order.order_item.each do |order_item| %>
		<tr>
			<td><%= order_item.name %></td>
			<td><%= order.price_tax %></td>
			<td><%= order.number %></td>
			<td><%= order.sum_item %></td>
			<td><%= form_for(@order, url: admins_order_path) do |f| %>
				<%= f.select :production_status,[['着手不可', 0], ['制作待ち', 1], ['製作中', 2], ['制作完了', 3]] %>
				<%= f.hiddde_field %>
			<%= f.submit '更新', class: "btn btn-sm" %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<!-- 左下ここまで -->
	<!-- 右下のやつ -->
	<div class="row">
		<table>
			<tr>
				<th>商品合計</th>
				<td><%= @order.sum_all %>円</td>
				<th>送料</th>
				<td><%= @order.postage %>円</td>
				<th>請求金額合計</th>
				<td><%= @order.total_price %>円</td>
			</tr>
		</table>
	</div>
</div>
